<div>
  <h2>Nuestro proyecto</h2>
  <componente-a></componente-a>
  <componente-b></componente-b>
  <hr/>
  <usuario [data]="3" [borrable]="true" [editable]="true"></usuario>
  <hr/>
  <listado-usuarios [usuariosBorrables]="true" [usuariosEditables]="true"></listado-usuarios>
  <hr/>
  <listado-usuarios [usuariosBorrables]="true" [usuariosEditables]="true"></listado-usuarios>
</div>


<a routerLink="/listado">Listado</a>
<a routerLink="/componenteA">Listado</a>
<router-outlet></router-outlet>


