<div id="listado-usuarios" *ngIf="this.state !== Estados.CARGANDO_DATOS
                                && this.state !== Estados.ERROR_EN_CARGA">
    <div id="filtro">
        <input type="text"
               placeholder="Filtrar por"
               #filtro 
               (keyup)="this.establecerFiltro(filtro.value)"
               (change)="this.establecerFiltro(filtro.value)"
               >
    </div>
    <div id="botones">
        <button
            *ngIf   ="this.mostrarBotonSeleccionarTodos()"
            (click) ="this.seleccionarTodos()">
            Seleccionar todos
        </button>
        <button
            *ngIf   ="this.mostrarBotonDeseleccionarTodos()"
            (click) ="this.deseleccionarTodos()">
            Deseleccionar todos
        </button>
        <accion-confirmable caption="Borrar seleccionados" captionConfirmacion="Confirmar" captionCancelacion="Cancelar"
            *ngIf="this.mostrarBotonBorrar()"
            (onConfirmado)="this.borrarSeleccionados()">
        </accion-confirmable>
    </div>
    <div id="listado">
        <div *ngFor="let usuario of this.usuariosAMostrar; trackBy: this.comoIdentificoCadaComponente">
            <!--input type="checkbox" [checked]="usuario.seleccionado" (change)="this.cambiarSeleccion(usuario)"-->
            <usuario [data]="usuario" 
                [borrable]="this.esBorrable(usuario)" 
                [editable]="this.esEditable(usuario)"
                [seleccionable]="this.usuariosBorrables" 
                [seleccionado]="this.usuariosSeleccionados.includes(usuario)"
                (usuarioBorrado)="this.borrarUsuario(usuario)" 
                (onSeleccionado)="this.seleccionar(usuario)"
                (onDeseleccionado)="this.deseleccionar(usuario)"
                (borradoIniciado) ="this.borradoIniciado(usuario)"
                (borradoCancelado) ="this.borradoCancelado(usuario)"
                (edicionIniciada) ="this.edicionIniciada(usuario)"
                (edicionCancelada) ="this.edicionCancelada(usuario)"
            ></usuario>
        </div>
    </div>
</div>

<div *ngIf="this.state === Estados.CARGANDO_DATOS">
    <p>Cargando datos...</p>
</div>

<div *ngIf="this.state === Estados.ERROR_EN_CARGA">
    <p>Error en la carga de datos</p>
</div>