<div>
    <li *ngFor></li>
    <usuario [data]="1" [borrable]="true" [editable]="true"></usuario>
    <usuario [data]="2" [borrable]="true" [editable]="true"></usuario>
    <usuario [data]="3" [borrable]="true" [editable]="true"></usuario>
    <usuario [data]="4" [borrable]="true" [editable]="true"></usuario>
    <usuario [data]="1" [borrable]="true" [editable]="true"></usuario>
    <usuario [data]="2" [borrable]="true" [editable]="true"></usuario>
    <usuario [data]="3" [borrable]="true" [editable]="true"></usuario>
    <usuario [data]="4" [borrable]="true" [editable]="true"></usuario>
    <usuario [data]="1" [borrable]="true" [editable]="true"></usuario>
    <usuario [data]="2" [borrable]="true" [editable]="true"></usuario>
    <usuario [data]="3" [borrable]="true" [editable]="true"></usuario>
    <usuario [data]="4" [borrable]="true" [editable]="true"></usuario>
</div>